
.date-container {
display:flex;
max-width: 100%;
position: relative;
top: 11px;
text-align: center;}

  .number {
      position: relative;
      left: 29px;
      font-size: xx-large;
      font-weight:800;}

  .month {
    font-weight:600;
     font-size: small;
     position: relative;
     top: 28px;
     left: 25px;
     margin-left:8px;}

.year{
    font-size: small;
     position: relative;
     top: 40px;
     left: -6px;
     margin-left:6px;}

.day{
    float: right;
    font-size: small;
    margin: auto;
   padding-left: 70px;}